body
{
	background: url("../images/nyanfond.png") right center no-repeat,url("../images/Arcenciel.png") ;
	background-color: #2a2a2a;
}
#header
{
	position: fixed;
	top: 0px;
	left: 0px;
	width:100%;
	height: 35px;
	background-color: #000;	
	z-index: 1;

}
#menu
{
	top: 35px;
	position: fixed;
	left: 0px;
	width: 15%;
	height: 1000px;
	background-image: url("../images/fondmenu.png");
	background: no-repeat;


}
.categories
{
	position: relative;
	top: 100px;
	left:20px;
}
.categories:hover
{
	transition:0.2s;
	left:30px;
}
.nomcategorie
{
	font-size: 20px;
	font-family: Copperplate Gothic light;
	text-decoration: none;
	color: #000;
}
.nomcategorie:hover
{
	transition:0.2s;
	font-size: 22px;
}
.defilant
{
	display: none;
	color: #000;
	text-decoration: none;
}
.categories:hover .defilant
{
	transition:5s;
	display: block;
}
.defilant .nomdefilant
{
	font-size: 15px;
	font-family: Copperplate Gothic light;
	text-decoration: none;
}
#content
{
	width: 80%;
	margin:45px auto 0 auto;
}
.linktop
{
	margin: 10px;
	padding left: 10px; 
	float: right;
	text-decoration: none;
	color: #FFF;
}
.forminscr
{
	position: relative;
	top: 50px;
	left: 30px;

}
#forform
{
	position: relative;
	top: 200px;
	left: 600px;
	background: url("../images/fondpapier.png");
	width: 300px;
	height: 250px;
}
.buttoninscr
{
	position: relative;
	left: 85px;
}
.newsglobdiv
{
	position: relative;
	left: 400px;
}